/* ******************************
 ? Inicio del dark mode
* ******************************* */

.dark-mode {
  --light: #343a40;
  --white: var(--dark);
  --gray-dark: #fff;
}

.dark-mode .btn,
.dark-mode .breadcrumb-item > a,
.dark-mode .right-bar-toggle > i,
.dark-mode .filter-option-inner-inner,
.dark-mode .text-white,
.dark-mode .ms-elem-selectable > span,
.dark-mode a > span,
.dark-mode .nav-second-level > li > a,
.dark-mode .inbox-item-author > a,
.dark-mode .inbox-item-author > a:hover,
.dark-mode .fe-menu,
.dark-mode .fas,
.dark-mode span > a > small,
.dark-mode .user-img > a > i,
.dark-mode .card-body,
.dark-mode .ms-container .ms-selection li.ms-elem-selection,
.dark-mode .badge-danger,
.dark-mode .badge,
.dark-mode .fe-bell,
.dark-mode .dropdown-toggle::after,
.dark-mode a,
.dark-mode h4,
table,
.dark-mode .dropdown-menu,
.dark-mode label {
  color: var(--gray-dark) !important;
}

.dark-mode .ms-list,
.dark-mode .footer,
.dark-mode .card,
.dark-mode .dropdown-menu {
  background-color: var(--white);
}

.dark-mode hr,
.dark-mode .footer {
  border-color: #3e3e3e;
}

.dark-mode .dropdown-item:focus,
.dark-mode .dropdown-item:hover,
.dark-mode .dropdown-item .notify-item .active,
.dark-mode .bootstrap-select > .dropdown-toggle {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--secondary);
  color: white;
}

.dark-mode .dropdown-item.active,
.dark-mode .dropdown-item:active,
.dark-mode .btn-light:not(:disabled):not(.disabled).active,
.dark-mode .btn-light:not(:disabled):not(.disabled):active,
.dark-mode .show > .btn-light.dropdown-toggle,
.dark-mode input,
.dark-mode textarea,
.dark-mode select {
  background-color: var(--secondary);
  color: white;
}
